@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #bde0fe;
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stopwatch {
  width: 90%;
  max-width: 600px;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
  padding: 2.5em 0;
  color: #fff;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  aspect-ratio: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.stopwatch h1 {
  font-size: 4rem;
  font-weight: 300;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons img {
  width: 5em;
  margin: 0 1.25em;
  cursor: pointer;
}

.buttons img:nth-child(2) {
  width: 7em;
}

.info {
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.info-socials {
  color: currentColor;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 0.5em;
}

.info-socials a {
  color: currentColor;
  padding: 0 0.5em;
}

@media (max-width: 640px) {
  .stopwatch h1 {
    font-size: 3rem;
    font-weight: 300;
  }
  .buttons img {
    width: 4em;
    cursor: pointer;
  }

  .buttons img:nth-child(2) {
    width: 5.5em;
  }
}
